In [1]:
valor1 = input('digite um numero inteiro: ')
valor2 = input('digite outro numero inteiro: ')

print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
True
False
True
False

In [2]:
L = []
L=list[0]

In [3]:
dias=[3,1,10]

dias[0]



dias[1]

dias[2]

10

In [4]:
Z=[3,8,9]
Z[0]=7
Z

[7, 8, 9]

In [5]:
V= 67589

In [8]:
a=[81,82,83]

b= a[:]   #cria um clone com fatia

print(a==b)

print(a is b)

b[0]=5

print(a)

print(b)

True
False
[81, 82, 83]
[5, 82, 83]

In [10]:
uma_lista=['a','b','c','d','e','f',]

print(uma_lista[1:3])
print(uma_lista[:4])
print(uma_lista[3:])
print(uma_lista[:])

a=[1,2,3]
b= [:]
b[0]=5
print(a[3])

SyntaxError: invalid syntax (1690078725.py, line 9)

In [ ]:

2) cria uma lista chamada ,minha lista com os seguintes itens: 76,92.3,"oi",true,4, 76.Depois execute os seguintes comandos:
    
a) Inserir "pitomba" e 76 no final da lista.
    
 b)Inserir valor "cibele" na posição de indice 3.
    
 c)Inserir o valor 99 no inicio da lista.
    
d) encontrar o indice de"oi".
    
e) remover true da lista.

In [12]:


tupla_numeros = (10,20,30)
tupla_numeros

(10, 20, 30)

In [13]:
tupla_elemento =10,
tupla_elemento

(10,)

In [14]:
dicio = {'chave':'valor'}
print(type(dicio))

<class 'dict'>

In [15]:
d={'laranjas':15,'bananas':35,'siriguelas':12}
d['bananas']

35

In [16]:
d['pitomba']=20
len(d)

4

In [17]:
'pitomba' in d

True

In [18]:
'pears' in d

False

In [19]:
del d['laranjas']
'laranjas' in d

False

In [20]:
frutas = ["pinha","oiti coró","jaca","tamarindo"]
print([1,2]+[3,4])
print (frutas+ [6,7,8,9])
print([0]*4)
print([1,2,["oi","tchau"]]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]